	.Two{
		right: calc((100% - (100% - 700px)/2) + 3px);
		left: 0;
		background-color: #e6e5f4;
		
	}
	.Seven{
		right: 0;
		left:  calc((100% - (100% - 700px)/2) + 3px);
		background-color: #8d8989;
	}
	
	.Two,
	.Seven {
		position: fixed;
		bottom: 0;
		top: 0;
	}
	.Three{
		background-color: #c3207a;
	}
	.Four{
		background-color: #ff3300;
	}

	.Eight{
		background-color: #0ed6bd;
		height: 160px;
	}
	.Nine{
		background-color: #a9c320;	
		height: 175px;	
	}


	.One,
	.Two,
	.Three,
	.Four,
	.Five,
	.Six,
	.Seven,
	.Eight,
	.Nine{
		border: 5px solid brown;
		text-align:center;
	}


	p, body{
		margin:0;
	}
	
	.One,
	.Eight,
	.Nine{
		margin: auto;
		min-width: 700px;
		max-width: 700px;
		height: 100px;
	}
	
	.One{
		font-size: 22px;
		height: 100px;
	}
	
	.Eight,
	.Nine {
		font-size: 18px;
	}

	.Row{
		height:285px;
	}
	
	.Three,
	.Four {
		min-width: 244px;
		max-width: 244px;
		height: 133px;
		left: 0;
	}
 
	.Five{
		min-width: 294px;
		max-width: 294px;
		background-color: #3958d0;

	}
	.Six{
		min-width: 150px;
		max-width: 150px;
		background-color: #a6b268;
	}


	.One,
	.Row,
	.Eight,
	.Nine {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		left: 1000px;
	}

	@media only screen and (max-width:700px){
		body *{
			display: flex;
			flex-direction: column;
			margin: auto;
			flex-grow: 1;
			
		}
	   

		.One,
		.Two,
		.Three,
		.Four,
		.Five,
		.Six,
		.Seven,
		.Eight,
		.Nine,
		.Kol
		
		{
			min-width: 100%;
			max-width: 100%;
			width: 100%;
			height: auto;
			font-size: medium;
			border-radius: 1px;
		}
		.Two,
		.Seven {
			display: none;
		}
	}